@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black font-dm-sans antialiased overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-dm-sans uppercase tracking-tighter;
  }
}

/* Vertical line for the branding section */
.vertical-line {
  @apply w-[1px] h-48 bg-gray-200 hidden lg:block mx-12;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}